- var full = full || false
.dialog
	a(href='/byId/' + dialog._id)
		h2.title= dialog.title
	if (dialog.parent)
		a(href='/byId/' + dialog.parent._id)
			h3.parent= dialog.parent.title
	h3.author= dialog.author
	.convo
		- var c = 0
		each retort in dialog.retorts
			- if (c < 6 || full == true)
				- var retorter = dialog.retorters[c]
				.retort(class=(retorter === 0 ? 'me' : 'you'))
					span.tag= dialog.characters[retorter].name
					p= retort
				- c++
		- if (dialog.retorts.length > 6 && full !== true)
			a.action-link(href='/byId/' + dialog._id) Read more
		- else
			a.action-link(href='/write/' + dialog._id) Respond
